{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(commentForm) }}
    {{ form_widget(commentForm) }}
    <button>Add comment!</button>
    {{ form_end(commentForm) }}


{% endblock %}