{% extends 'base.html.twig' %}

{% block body %}
    <h1 class='invert'>Liste des choses souhaits</h1>
    <ul style="overflow-y: scroll;max-height: 70vh">
    {% for wish in wishes %}
        <li class="invert">
            <a href="{{ path("wish_detail", {id:wish.id}) }}">{{ wish.title }}</a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
