/* MAIN */

:root{
    --percent: 0.2%;
}

body {
    background: repeating-radial-gradient(#5500ff, #f000ff var(--percent));
    min-height: 100vh;
}

header{
    background-color: #2C3E50;
}

/*header *{*/
/*    color: black;*/
/*    filter:invert(1);*/
/*}*/

footer{
    background-color: #34495E;
    color: black;
    width: 100%;
}

main{
    padding: 20px;
}

/* GLOBAL */

h1{
    margin:0;
}

/* UTILS */


.flex-row{
    display: flex;
    gap: 14px;
    align-items: center;
}

.flex-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.center-content{
    display:flex;
    justify-content: center;
    align-items: center;
}

.space-between{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.invert{
    color: white;
    mix-blend-mode: difference;
}

.card {
    padding: 20px;
    max-width: 1000px;
    justify-self: center;

    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 10px;

    background-color: rgba(255, 255, 255, 0.37);
    border-radius: 20px;
}

.small-btn{
    height:40px;
    padding: 5px 10px;
}

.bold{
    font-weight: bold;
}

/* FLASH */

.flash-messages {
    max-width: 950px;
    margin-left: auto;
    padding: 5px;
}

.flash-success {
    background-color: #95e344;
    padding: 5px;
    border-radius: 10px;
}

.flash-error{
    background-color: #e63131;
}

/* FORMS */

.form-error *{
    color: red;
}