<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bucket-list{% endblock %}</title>
        <link rel="icon" href="{{ asset("img/logo-512.png") }}">
        <link
                rel="stylesheet"
                href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
        >

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header>
            <div class="container space-between">
                <div class="flex-row">
                    <img src="{{ asset("img/logo.png") }}" class="img-sm" alt="bucket">
                    <h1>Bucket list</h1>
                </div>
                {% include 'components/nav.html.twig' %}
            </div>
        </header>
        <main class="container">
            {% block body %}{% endblock %}
        </main>
        <footer class="center-content">©Bucket-list {{ "now" | date("Y") }}</footer>
    </body>
</html>
