<nav>
    <ul>
        <li><a href="{{ path("home") }}">home</a></li>
        <li><a href="{{ path("wish_list") }}">wish list</a></li>
        <li><a href="{{ path("wish_detail", {id:123}) }}">wish detail</a></li>
    </ul>
</nav>